<header>
    <mat-toolbar color="primary">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
          </button>
          <span>SNOC Service Manager</span>
          <span class="example-spacer"></span>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
          </button>
          
           
            <button mat-icon-button class="example-icon account_circle" aria-label="Example icon-button with Login icon">
                <mat-icon [matMenuTriggerFor]="appMenu">account_circle</mat-icon>
              </button>
              
              <mat-menu #appMenu="matMenu">
                <button mat-menu-item>	<mat-icon> rate_review</mat-icon>Change Password</button>
                <button  mat-menu-item><mat-icon>power_settings_new</mat-icon>Logout</button>
              </mat-menu>
            
              
        </mat-toolbar>

        <mat-sidenav-container>
            <mat-sidenav #sidenav opened="true" mode="side" style="background-color:rgb(236, 232, 232);">
                <mat-nav-list style="color: white;">
                    <a mat-list-item><mat-icon>dashboard</mat-icon>Favorites and Dashboards</a>
                    <a mat-list-item [matMenuTriggerFor]="changeMenu"><mat-icon >edit</mat-icon>Change Management</a>
                  
                    <a mat-list-item [matMenuTriggerFor]="configManage"><mat-icon>perm_contact_calendar</mat-icon>Configuration Management</a>
                    <a mat-list-item [matMenuTriggerFor]="customerFeedback"><mat-icon> rate_review</mat-icon>Customer Feedback Modules</a>
                    <a mat-list-item [matMenuTriggerFor]="incidentManagement"><mat-icon>device_unknown</mat-icon>Incident Management</a>
                    <a mat-list-item [matMenuTriggerFor]="knowledgeBase"><mat-icon>fiber_smart_record</mat-icon>Knowledge Management</a>
                    <a mat-list-item [matMenuTriggerFor]="problmeManage"><mat-icon>report_problem</mat-icon>Problem Management</a>
                    <a mat-list-item [matMenuTriggerFor]="serviceDesk"><mat-icon>headset</mat-icon>Service Desk</a>
                    <a mat-list-item [matMenuTriggerFor]="softwarePortal"><mat-icon>view_compact</mat-icon>Software Governance Portal</a>
                    <a mat-list-item [matMenuTriggerFor]="accountBox"><mat-icon>account_box</mat-icon>User Administration</a>
                    <a mat-list-item [matMenuTriggerFor]="miscellancous"><mat-icon>developer_board</mat-icon>Miscellancous</a>
                </mat-nav-list>
                <mat-menu #changeMenu="matMenu">
                  <a mat-menu-item [matMenuTriggerFor]="configurationMenu">Configuration</a>
                  <a mat-menu-item>Change Queue</a>
                  <a mat-menu-item>Create New Change</a>
                  <a mat-menu-item>Search Changes</a>
                </mat-menu>

                <mat-menu #configurationMenu="matMenu">
                  <a mat-menu-item>Change Categories</a>
                  <a mat-menu-item>Change Location</a>
                </mat-menu>

                <mat-menu #miscellancous="matMenu">
                  <a mat-menu-item>Approval Delegation</a>
                  <a mat-menu-item>Approval Inbox</a>
                  <a mat-menu-item>Password Changed</a>
                  <a mat-menu-item>To Do Queue</a>
                </mat-menu>
              
                <mat-menu #accountBox="matMenu">
                  <a mat-menu-item>My menu</a>
                </mat-menu>

                <mat-menu #configManage="matMenu">
                  <a mat-menu-item>Search CI</a>
                </mat-menu>

                <mat-menu #incidentManagement="matMenu">
                  <a mat-menu-item>Create New Incident</a>
                  <a mat-menu-item>Incident Queue</a>
                  <a mat-menu-item>Search Incident</a>
                </mat-menu>

                <mat-menu #knowledgeBase="matMenu">
                  <a mat-menu-item>Contribute Knowledge</a>
                  <a mat-menu-item>Draft Documents</a>
                  <a mat-menu-item>Search KnowledgeBase</a>
                </mat-menu>

                <mat-menu #problmeManage="matMenu">
                  <a mat-menu-item>Create New Problem</a>
                  <a mat-menu-item>Problem Known Error Queue</a>
                  <a mat-menu-item>Search Problem</a>
                </mat-menu>

                <mat-menu #serviceDesk="matMenu">
                  <a mat-menu-item>Create New Intraction</a>
                  <a mat-menu-item>Intraction Queue</a>
                  <a mat-menu-item>Search Interaction</a>
                </mat-menu>

                <mat-menu #softwarePortal="matMenu">
                  <a mat-menu-item>Request Queue</a>
                  <a mat-menu-item>Search Request</a>
                  <a mat-menu-item>Submit Request</a>
                </mat-menu>

                <mat-menu #customerFeedback="matMenu">
                  <a mat-menu-item>Feedback Queue</a>
                  <a mat-menu-item>Search Feedback</a>
                  <a mat-menu-item>Submit Feedback</a>
                </mat-menu>

            </mat-sidenav>
            <mat-sidenav-content>
                <div style="height: 88vh;"></div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    
     
</header>





















<router-outlet></router-outlet>
